.form-addbill{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 7px;
    column-gap: 5px;
    margin: 0 10px;
}
.btn-addBill{
    outline: none;
    grid-column: 1 / 3;
    display: grid;
    place-items: center;
    height: 1.7rem;
    border-radius: 2px;
    color: rgb(61, 61, 61);
    border: 1.5px solid grey;
    background: white;
    transition: all 0.3s ease;
}
.btn-addBill:hover{
    color: black;
    border: 1.5px solid black;
}
.btn-addBill:active{
    transform: scale(95%);
}