:root{
  --bg: white;
  --purp: rgb(146, 0, 146);
  --red: red;
  --green: green;
  --ylw: yellow;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(90, 68, 68, 0.5),rgba(0,0,0,0.5)), url("../images/bg.png");
  background-position: center;
  background-size: cover;
}

.inp{
  padding: 3px;
  font-size: 12px;
  height: 2rem;
}
.bills{
  margin: 0 10px;
}
.bills::-webkit-scrollbar{
  width: 0px;
}